<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa instagram .</title>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
        <style>
        body {
            height : 100vh ;
            width : 100vw ;
            display : flex ;
            /* padding : 30px 20px 0px ; */
            /* background-color : blue ; */
            
        }
        #navBarParvatiammaShivappa {
            height : 100vh ;
            width : 13vw ;
            box-sizing : border-box ;
            border-right : 1.3px solid #DBDBDB ;
            padding : 0px 19px 6px ;
            display : inline-flex ;
        }
        .iconPS {
            font-family: "Great Vibes", "cursive" ;
            font-weight: 400 ;
            font-style: normal ;
            padding: 25px 12px 16px ;
            margin : 0px 0px 19px ; 
            font-size : 2.3vw ;
        }

        .barsPS {
            height : 100vh ;
            width : 19vw ;
            display : flex ;
        }
        
        .ParvatiammaShivappaNavBar {
            font-family : 'Times New Roman', Times, serif ;
            font-size: 1.03vw ;
            font-weight : 100 ;
            font-style : normal;
            line-height : 3vh ;
            padding : 0px 16px 0px ;
        }
       
        div[class = "PSeachEle"] {
            display : inline-flex ;
            /* height : 900px ; */
            width : 100% ;
            box-sizing : border-box ;
            padding : 12px ;
            /* flex-grow : 3 ; */
            flex-direction : row ;
            /* display : inline-flex ; */
            /* flex-wrap : nowrap ; */
        }
        div[class = "PSeachEle"]:hover {
            background-color : #F2F2F2 ;
            border-radius : 13px ;
        }

        div[id = "ParvatiammaShivappaProfile"] {
            height : 100vh ;
            width : min(995px , 80vw) ;
            /* flex-grow : 3 ; */
            margin-right : clamp(9px , 13vw , 300px) ;
            margin-left : clamp(9px , 13vw , 300px) ;
            /* margin : 0px 29px 0px 0px ; */
            /* background-color : blue ; */
            flex-direction : column ;
            display : inline-flex ;
            /* flex-wrap : wrap ; */
        }



        div[id = "PSendnavBar"] {
            display : inline-flex ;
            flex-direction : column ;
            padding : 19vh 0px 0px ;
        }
        #PSprofilePic {
            height : 299px ;
            width : 299px ;
            border : 3px solid #fff ;
            display : inline-flex ;
            justify-content : center ;
            align-items : center ;
        }
        #PSProfileimg {
            height : 150px ;
            width : 150px ;
            border-radius : 50% ;
        }
        #PSpfId {
            height : 3vh ;
            width : 13vw ;
            background-color : #F2F2F2 ;
            margin-top : 9px ;
        }


        button {
            height : 3.3vh ;
            width : 6vw ;  
            background-color : #F2F2F2 ;
            border-radius : 9px ;
        }


        #PSiLoveU {
            /* position : relative ; */
            height : 23vh ;
            width : calc(100% - 299px) ;
            display : flex ;
            flex-direction : column ; 
            flex-wrap : wrap ; 
            justify-content : start ;
            border : 3px solid white ;
        }
        .GowriShankar {
            margin : 9px 0px 0px ;
            /* flex-grow : 1.3 ; */
        }

        .PSkrupa {
            margin : 0px ;
            padding : 0px ;
            line-height : 19px ;
        }
        #PSid {
            height : 33px ;
            margin : 0 ;
            padding : 0 ;
        }
        #PSh1 {
            display : inline ;
        }

        #PSbtn1 {
            background-color : #0095F6 ;
            color : white ;
            border-color : lightblue ;
        }
        #PSbtn1:hover {
            background-color : #1877F2 ;
        }

        #PSbtn2 {
            background-color : #EFEFEF ;
            border-style : none ;
        }
        #PSbtn2:hover {
            background-color : #DBDBDB ;
            border-style : none ;
        }


        .PScolorCh {
            color : #737373 ;
        }

        div[class = "PShighlights"] {
            height : 9vh ;
            width : 6vw ;
            display : inline-flex ;
            border : 3px solid #000 ;
            border-radius : 50% ;
            box-sizing : content-box ;
            margin : 0px 30px ;
            justify-content : center ;
            align-items : center ;
           
        }


        div[id = "PSprofileInfo"] {
            display : inline-flex ;
            flex-direction : row ;
        }
        div[id = "PShighlights"] {
            display : flex ;
            flex-direction : row ;
            justify-content :  center ;
            border-bottom : 1.3px solid #DBDBDB ;
        }
        .PSHltext {
            text-align : center ;
        }
        img[class = "PS-highlights-img"] {
            height : 100% ;
            width : 100% ;
            border-radius : 50% ;
        }
        div[class = "PS-posts"] {
            height : 49vh ;
            width : 18.3vw ;
            /* border : 3px solid #000 ; */
        }



        #PS-posts-container {
            display : inline-flex ;
            justify-content : space-around ;
            margin : 9px 0px 0px ;
        }
    #PS-posts-container img {
        height : 100% ;
        width : 100% ;
    }

    /* @media (max-width : 1350px) {
        div[class = "iconPS"] {
            visibility : none ;
        } 
        .PSeachEle {
            text-align : center ;
        }  
        div[class = "PSeachEle"] span{
            display : none ;
        } 
    } */
    </style>
</head>
<body>
    <div id = "navBarParvatiammaShivappa">
        <nav>
            <div class = "iconPS">Instagram</div>
            <div id = "barsPS">
                <div class = "PSeachEle">
                    <i class="fa-solid fa-house-user fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Home</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-magnifying-glass fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Search</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-compass fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Explore</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-video fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Reels</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-paper-plane fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Message</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-heart fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Notification</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-square-plus fa-2x PSnavIcons"></i>
                    <span class = "ParvatiammaShivappaNavBar">Create</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-id-card fa-2x PSnavIcons" id = "PSwomen"></i>
                    <i class="fa-solid fa-address-card PSnavIcons" id = "PSmen"></i>
                    <span class = "ParvatiammaShivappaNavBar">Profile</span>
                </div>
            </div>
            <div id = "PSendnavBar">
                <div class = "PSeachEle">
                    <i class="fa-regular fa-circle fa-2x"></i>
                    <span class = "ParvatiammaShivappaNavBar">Meta AI</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-at fa-2x"></i>
                    <span class = "ParvatiammaShivappaNavBar">Threads</span>
                </div>
                <div class = "PSeachEle">
                    <i class="fa-solid fa-bars fa-2x"></i>
                    <span class = "ParvatiammaShivappaNavBar">More</span>
                </div>
            </div>
        </nav>
    </div>
    <div id = "ParvatiammaShivappaProfile">
        <div id = "PSprofileInfo">
                <div id = "PSprofilePic">
                    <img src = "<%= instaData.profilePicPS %>" alt = "<%= instaData.id %>'s profile pic" id = "PSProfileimg">
               </div>
               <div id = "PSiLoveU">
                   <div class = "GowriShankar">
                            <h1 id = "PSh1"> <%= instaData.id %> </h1>
                            &nbsp;&nbsp;&nbsp;
                            <button type = "button" id = "PSbtn1">Follow</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type = "button" id = "PSbtn2">Message</button>
                            <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class = "GowriShankar">
                            <span> <%= instaData.posts.length %> <strong class = "PScolorCh">posts</strong> </span>
                            &nbsp;&nbsp;&nbsp;
                            <span> <%= instaData.followers %> <strong class = "PScolorCh">followers</strong>
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span> <%= instaData.following %> <strong class = "PScolorCh">following</strong> </span>
                    </div>
                    <section class = "GowriShankar">
                        <h3 id = "PSh3"> <%= instaData.id %> </h3>
                        <h5 id = "PSid"> &#64; <%= instaData.id %> </h5>
                    </section>
                    <section class = "GowriShankar">
                        <h3 class = "PSkrupa">bio</h3>
                        <h5 class = "PSkrupa"> <%= instaData.bio %> </h5>
                    </section>
               </div>
        </div>
        <% if(!instaData.highlights) { %>
                <div id = "PShighlights">
                    <div class = "PSHltext"> 
                        <div class = "PShighlights">
                            <i class="fa-solid fa-plus fa-2x"></i>
                        </div>
                        <h3>Add</h3>
                    </div>
                    <div class = "PSHltext"> 
                        <div class = "PShighlights">
                            <i class="fa-solid fa-plus fa-2x"></i>
                        </div>
                        <h3>Add</h3>
                    </div>
                    <div class = "PSHltext"> 
                        <div class = "PShighlights">
                            <i class="fa-solid fa-plus fa-2x"></i>
                        </div>
                        <h3>Add</h3>
                    </div>
                </div>

        <% } else {
                for(let i = 0 ; i < instaData.highlights.length ; i++) {
                let data = instaData.highlights[i] ; %>
                    <div id = "PShighlights">
                        <div class = "PSHltext"> 
                                <div class = "PShighlights">
                                    <img src = "<%= data.highlights1 %> " alt="ParvatiammaShivappa-HL1" class = "PS-highlights-img">
                                </div>
                                <h3>My devotees</h3>
                        </div>
                        <div class = "PSHltext">
                                <div class = "PShighlights">
                                    <img src = "<%= data.highlights2 %> " alt="ParvatiammaShivappa-HL2" class = "PS-highlights-img">
                                </div>
                                <h3>My family</h3>
                        </div>
                        <div class = "PSHltext">
                                <div class = "PShighlights">
                                <img src = "<%= data.highlights3 %> " alt="ParvatiammaShivappa-HL3" class = "PS-highlights-img">
                                </div>
                                <h3>My aradya</h3>
                        </div>
                </div>
                <% }
        } %>
            <div id = "PS-posts-container">
                <% for(let i = 0 ; i < instaData.posts.length ; i++) { %>
                    <div class = "PS-posts">
                        <img src = "<%= instaData.posts[i].image %>"  alt = "PS-posts">
                    </div>   
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>

 
